$dodger-blue: #39f;
$ice-blue: #e5f2ff;
$white: #f4f4f4;
$ice-blue-two: #eef7ff;

// Niet benoemd in color palette maar wel gebruikt:
$sapphire: #093550; 
$grey-blue: #58727e;
$grey-blue-two: #617d8a;
$dodger-blue-two: #2aa5ff;