.progress-bar-head {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: -.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: colors.$dodger-blue;
}